
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family:"lato";
    font-weight: 200;
    color: #901c1c;

    
}
#wrapper{
margin: auto;
overflow: scroll;
}
footer{
width: 100%;
padding: 2%;
text-align: center;
font-size: .5em;
color: rgba(0, 0, 0, 0.50);
}
/*nav*/
nav{
height: 50vh;
background-color: white;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
width: 100%;
position: absolute;
z-index: 10000000;
overflow: hidden;
}
.open{
width: 100%;
background-color: white;
font-size: 2.2em;
padding: 3%;
position: relative;
}
.close{
width: 100%;
background-color: #901c1c;
color: white;
font-size: 2.2em;
padding: 3%;
position: relative;
z-index: 100000;
}
nav ul{
text-align: center;
padding: 1% 0;
}
nav ul li{
display: block;
width: auto;
margin: 3% 2%;
font-size: 2em;
}
nav a{
text-decoration: none;
}

/*header*/
header{
height: 100%;
background-image: url(../img/brand/header.jpg);
background-attachment: fixed;
background-size: cover;
background-position: right;
}
header img{
display: block;
width: 70%;
padding: 10% 0 10% 0;
margin: auto;
}

/*gallery*/
#gallery {
text-align: center;
padding: 0 5% 0 5%;
overflow: hidden;
}
#gallery h1{
font-size: 2em;
padding: 2%;
}
#gallery img{
margin: 5% 0 0 0;
width: 100%;
filter: grayscale(100); 
}
#gallery img:hover{
filter: grayscale(0); 
}
#gallery h2{
font-size: 2em;
font-weight: 200;
width: 100%;
text-align: center;
position: absolute;
z-index: 10000;
color: black;
padding: 1%;
margin-top: 20%;
overflow: hidden;
background-color: rgba(255, 255, 255, 0.5);
}

.more{
font-size: 1.2em;
padding: 3px;
margin: 2% 0;
border: 2px solid #901c1c;
border-radius: 5px;
}
.more a{
text-decoration: none;
}
