*{
font-family: "Helvetica", sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: middle;
}
nav{
height: 10vh;
width: 100%;
background-color: white;
text-align: right;
}
nav ul{
}
nav ul li{
display: inline-block;
font-size: 2em;
padding: 0 2%;
font-weight: 200;
}
nav a{
text-decoration: none;
color: black;
}
#logo{
height: 10vh;
}
header{
width: 100%;    
height: 90vh;
background-attachment: fixed;
background-image: url(../img/header.jpg);
background-size: contain;
background-position: right;
background-repeat: no-repeat;
overflow: hidden;
}
header h1{
width: 40%;
margin-left: 10%;
word-spacing: 50px;
font-size: 7em;
text-align: center;
padding: 2%;
font-weight: 300;
text-align: right;
overflow: auto;
}
.info{
padding: 5%;
clear: both;
height: auto;
overflow: auto;
}
.info h2{
font-size: 2.3em;
margin: 1% 0;
}
.info p{
font-size: 1.3em;
line-height: 1.3em;
}
#left{
padding: 1%;
width: 50%;
float: left;
}
#right{
padding: 1%;
width: 50%;
float: left;

}
#phone{
width: 100%;    
height: 90vh;
background-attachment: fixed;
background-image: url(../img/phone.jpg);
background-size: cover;
background-position: center;
overflow: hidden;
}
#diagram{
width: 100%;    
height: 90vh;
background-attachment: fixed;
background-image: url(../img/diagram.png);
background-size: contain;
background-position: right;
background-repeat: no-repeat;
overflow: hidden;
padding: 1%;
}
footer{
text-align: center;
padding: 2%;
}
/*poster loghtbox */
#gallery{
margin: 0 auto;
width: 90%
}
.thumbnail{
height: 63vh;
}
.thumbnail img{
width: 100%;
}
.lightbox{
    display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img{
margin-top: 2%;
}
.lightbox:target{
outline: none;
display: block;
}
