/*  INDEX STYLE SHEET */
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "mr-eaves-sans";
    box-sizing: border-box;
    color: #901c1c;
}

#wrapper{
    
    width: 100%;
    height:100%;
    margin: 0 auto;
}

/* NAV */
nav{
margin: 0 auto;
position: absolute;
width: 100%;
text-align: center;
background-color: white;
position: relative;
padding-top: 10px;
}
nav ul li{  
font-size: 1.5em;
font-weight: 200;
height: 50px;
display: inline-block;
text-align: center;
width: 15%;
}
nav a{
text-decoration: none;
}
nav a:hover{
text-decoration: line-through;
}
/* HEADER */
#header{
    background-image: url("../images/brand/header.jpg");
    min-height: 70vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header img{
position: absolute;
width: 40%;
top: 40%;
right: 10%;
}

/*FOOTER*/
#footer{
margin: 0 auto;
height: 8%;
position: absolute;
width: 100%;
text-align: center;
line-height: 5;
font-weight: 200;
font-size: .8em;
}
#footer a{
text-decoration: none;
}

/*GALLERY*/
#gallery{
    clear: both;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    }
#gallery h2{
    font-size: 2em;
    font-weight: 200;
    padding: 2%;
}
.third{
width: 100%;
height: 100%;
overflow: auto;
margin: 5px auto;
text-align: center;
}
.third a{
width: 30%;
display: inline-block;
margin: auto 4px;
}
.thumb{
filter: grayscale(100%);
height: auto;
width: 100%;
}
.thumb:hover{
filter: none;
}

.third a h3{
font-size: 2em;
font-weight: 200;
width: 33%;
text-align: center;
position: absolute;
z-index: 10000;
color: black;
padding: 1%;
margin-top: 6%;
overflow: hidden;
background-color: rgba(255, 255, 255, 0.5);
}
#button{
display: none;
}

/*PROJECT */
.project{
width: 100vw;
text-align: center;
position: relative;
}
#title{
padding:25px;
margin: auto;
font-size: 2em;
font-weight: 200;
z-index: 1000;
}
#type{
font-size: 1.5em;
font-weight: 200;
}
.main{
height: 70vh;
overflow: hidden;
margin: 1% auto;
}
.main img{
width: 100%;
}
.thumb img{
width:30vw;
} 

/* CONTACT */
.contact{
width: 80vw;
margin: 0 auto;
padding-top: 10%;
overflow: hidden;
}
#form{
width: 50vw;
float: left;
}
#social{
width: 25vw;
float: right;
height: auto;
}
#social li{
list-style: none;
line-height: 2.5em;
display: inline;
float: left;
clear: both;
padding: 10px 0;
}
#social a{
font-size: 1.5em;
text-decoration: none;
color: black;
}
#social img{
width: 40px;
vertical-align: middle;
}
/* ABOUT */
.bio{
position: absolute;
width: 30%;
top: 65%;
right: 10%;
}
.bio h4{
font-size: 1.5em;
}
.bio h3{
font-size: 2.5em;
}
.bio h3, h4{
color: white;
font-weight: 200;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {
 /* STYLES GO HERE */   /* For Phones: */
      #wrapper{
       height: auto;
      }
    #header{
    min-height: 50vh;
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #header img{
    top: 35%;
    width: 70%;
    right: 15%;
    }
    nav{
    height: 150px;
    padding-top: 25px;
      }
      nav ul li{
    width: 19%;
      }

    .third a{
    width: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
    }
    .third a h3{
    width: 100%;
    }
    .bottom, .mid{
    display: none;
    }
    #button{
    display: block;
    margin-right: 50px;
    width: 20%;
    float: right;
    text-align: center;
    border: 1px solid #901c1c; 
    }
    #button a{
    text-decoration: none;
    }

    #form{
    float:left;
    width: 100%;
    }
    #social{
    width: 100%;
    float: left;
    clear: both;
    }
    .bio{
    width: 100%;
    left: 50px;
    top: 60%;
    font-size: .5em;
    }
      .main{
    height: auto;
      }
      .thumb img{
       width: 45%;
      }
         
} 

